body {
    background-color: #dcd;
    font: 1em/2.618 sans-serif;
  }
  
  p {
    margin: 0;
    &:not(:last-child) {
      margin-bottom: 1.5em;
    }
  }
  
  .card-grid {
    padding: 1em;
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
  }
  
  .card {
    padding: 1em;
    border-radius: 0.5em;
    background-color: #fff;
    min-height: 150px;
    box-shadow: 0 0 0.75em 0 rgba(black, 0.1);
    transition: box-shadow 0.25s ease-in-out;
  }
  
  @supports (selector(html:has(body))) {
    .card {
      &:has(*) {
        &:hover {
          box-shadow: 0 0 1em 0 rgba(black, 0.25);
        }
      }
      &:not(:has(*)) {
        user-select: none;
        pointer-events: none;
        background-color: rgba(white, 0.25);
        display: flex;
        align-items: center;
        justify-content: center;
        &:before {
          content: "Coming soon";
          color: #888;
        }
      }
    }
  }
  @supports not (selector(html:has(body))) {
    body:before {
      padding: 1em;
      color: red;
      display: block;
      content: "Your browser doesn't support the `:has()` pseudo-class yet.";
    }
  }
  